@page
@model Floppy.Pages.Lesson.LessonsModel
@{
    int i= 0;
}



 <div class="lessonlist_block">

        <div class="circle_lesson">

            <svg class="svg_lesson" width="100" height="100" viewBox="0 0 105 101" id="Lesson1">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="27" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">1</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="105" height="105" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="33" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">2</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="110" height="110" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="38" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">3</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="115" height="115" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="40" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">4</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">5</tspan>
                    </text>
                </a>
            </svg>


            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">6</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">7</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">8</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="10" y="15">
                        <tspan dx="30" dy="45">9</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="42" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">10</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="39" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">11</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="36" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">12</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="33" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">13</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="36" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">14</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="39" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">15</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="44" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">16</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">17</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="45" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">18</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="44" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">19</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="43" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">20</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="42" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">21</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="41" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">22</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="40" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">23</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="39" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">24</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="38" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">25</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="37" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">26</tspan>
                    </text>
                </a>
            </svg>

            <svg class="svg_lesson" width="120" height="120" viewBox="0 0 105 101">
                <a href="#" data-hystmodal="#myModal" onclick="getid(@(++i))">
                    <circle r="32" cx="50" cy="50" class="Circle_@i"> </circle>
                    <text x="0" y="15">
                        <tspan dx="30" dy="45">27</tspan>
                    </text>
                </a>
            </svg>

            @{ for (var j = 1; j <= 27; j++)
                            {
                                if (j < @Model.CurrentLesson)
                                {
                                    <style>
                                        .Circle_@j {
                                            fill:#928d93;
                                        }
                                    </style> 
                                 }
                                else if (j == @Model.CurrentLesson)
                                {
                                    <style>
                                        .Circle_@j {
                                            fill: #0f0af0;
                                        }
                                    </style> 
                               }
                                else
                                {
                                    <style>
                                        .Circle_@j {
                                            fill: #7F7DF9;
                                        }
                                    </style> 
                                }
                            }
                }     
           

        </div>
        <div class="info_column">
            <div class="about_list">
                <div class="lesson_block">
                    <p>Уровень:</p>
                    <p>BEGINNER</p>
                </div>
                <div class="lesson_block">
                    <p>Количество уроков:</p>
                    <p>27</p>
                </div>
            </div>


            <div class="about_list">
                <div class="lesson_block">
                    <p>Всего слов:</p>
                    <p>@Model.WordCount</p>
                </div>

                <div class="lesson_block">
                    <p>Всего правил:</p>
                    <p>65</p>
                </div>
            </div>


            <div class="about_list">
                <div class="lesson_block">
                    <p>Текущий урок:</p>
                    <p>@Model.CurrentLesson</p>
                </div>

                <div class="lesson_block">
                    <p>Тема:</p>
                    <p>@Model.LessonName</p>
                </div>
            </div>
        </div>
    </div>




    <div class="hystmodal" id="myModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window hyst_lessonlist" role="dialog" aria-modal="true">
                <button data-hystclose class="hystmodal__close">Закрыть</button>
                <div class="number_lesson">
                    <h2 id="number">
                    </h2>
                </div>
                <div class="name_lesson">
                    <h3 id="description">
                    </h3>
                </div>
                <img src="~/img/lesson/books.svg" />
                <form method="get">
                    <button id="less_btn" class="btn_go" type="submit" name="id"  asp-page="LessonTask">Изучать</button>
                </form>
            </div>
        </div>
    </div>



    <script>
        var btn = document.getElementById('less_btn');
        var desc = document.getElementById('description');
        var number = document.getElementById('number');
        var curr = @Model.CurrentLesson;
        var description = ["Местоимения", "Present Simple", "Eдинственное и множественное число", "Глагол have", "Отрицательные и вопросительные предложения", "Глагол to be в Present Simple", "Глагол can", "Неопределенный артикль A/An, Нулевой артикль", "Числа и даты", "Выражение принадлежности", "Определенный артикль The", "Повелительное наклонение", "Конструкции There is/are", "Прошедшее время - Past Simple", "Глагол to be в Past Simple", "Неправильные глаголы", "Прилагательные и наречия ", "Степени сравнения прилагательных", "Предлоги места и направления", "Неопределенные местоимения some и any", "Будущее время - Future Simple", "Глагол to be в Future Simple", "Модальные глаголы", "Предлоги времени", "Настоящее длительное время - Present Continuous", "Much и many, few и little", "Союзы and, but, or; so, because"];
        
        function getid(id) {
            btn.value = id;
            number.textContent = "УРОК " + id;
            desc.textContent = description[id - 1];
            if (id > curr) {
                btn.disabled = true;
                btn.style.background = "grey";
            }
            else {
                btn.disabled = false;
                btn.style.background = "#7F7DF9";
            }
        }
    </script>

    <script src="/js/hystmodal.min.js"></script>

    <script>
        const myModal = new HystModal({
            linkAttributeName: "data-hystmodal",
        });
    </script>

    